@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: beige;
    /* margin-top: 5%;
    margin-bottom: 5%; */
    background: #07090d;
}

.title {
    padding-top: 5%;
    padding-bottom: 5%;
}

li {
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

section {
    padding-left: 2%;
    padding-right: 2%;
}

article#studycon, article#workcon {
    background-color: rgb(0,0,0,0.5);
}

#study, #work {
    padding-bottom: 2%;
}

.topnav {
    overflow: hidden;
    background-color: beige;
    text-align: left;
    padding-right: 5%;
    border-right: 5px solid beige;
}

.topnav a {
    float: left;
    font-size: 1.5rem;
    padding: 0;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .button {
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: none;
    padding: 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topnav a:active, .dropdown:active .button {
    background-color: lightsalmon;
}

.topnav a:hover, .dropdown:hover .button {
    background-color: lightsalmon;
}
    /* @media screen and (min-width: 820px) {
       .topnav a:hover, .dropdown:hover .button {
    background-color: lightsalmon; 
       }
    } */

.dropdown-content {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: beige;
    width: 25%; 
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: beige;
    display: block;
    text-align: left;
    padding-left: 5%;
}

.dropdown-content a:active {
    background-color: lightgreen;
}

.dropdown-content a:hover {
    background-color: lightgreen;
}
    /* @media screen and (min-width: 820px) {
        .dropdown-content a:hover {
            background-color: lightgreen;
        }
    } */

.dropdown:active .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
    /* @media screen and (min-width: 1080px) {
        .dropdown:hover .dropdown-content {
    display: block;
        }
    } */

a:link {
    color: lightgreen;
    text-decoration: none;
}

li:hover {
    font-size: 120%;
    transition: 1s;
    color: peru;
}

a:visited {
    color: rgb(0,128,128);
}

h2.title {
    padding-left: 5%;
}
    @media screen and (min-width: 1080px) {
        h2.title {
        font-size: 2rem;
        }
    }

img#tim {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 0%;
}
    @media screen and (min-width: 1080px) {
        img#tim {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            padding-bottom: 1%;
        }
    }

#socials {
    width: 100%;
    padding: 10% 0% 5% 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#socials a {
    width: 40%;
    padding-bottom: 5%;
    text-align: center;
}

#socials a img {
    width: 50%;
    justify-content: center;
}

    @media screen and (min-width: 420px) {
        #socials a {
            width: 25%;
        }    
        #socials a img {
            width: 50%;
        }
    }
    @media  screen and (min-width: 1080px) {
        #socials a img {
            width: 30%;
        }
        a img.slink:hover {
            transform: scale(1.3);
            transition: 1s;
        }
    }

article {
    text-align: justify;
    padding: 5% 2% 5% 2%;
}
    @media screen and (min-width: 810px) {
        article {
            padding: 2%;
            font-size: 1.2rem;
        }
    }
    @media screen and (min-width: 1280px) {
        article {
            padding: 2% 5% 2% 5%;
            font-size: 1.3rem;
        }
    }

#follow {
    text-align: center;
}

#pages {
    width: 100%;
    padding: 0%;
    padding-top: 2%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#pages a {
    /* position: relative;
    text-align: center; */
    width: 50%;
    height: 100%;
    margin: 0%;
    text-align: center;
}

#pages a img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 40vw;
}

    @media  screen and (min-width: 1280px) {
        #pages a {
            width: 25%;
        }
        #pages a img {
            height: 40vh;
        }
    }

a:hover {
    opacity: 60%;
    transition: 0.7s;
}

a {
    position: relative;
}

.pages {
    position: absolute;
    bottom: 40%;
    right: 40%;
    color: white;
}

p#follow {
    padding-bottom: 5%;
}

article#about1 {
    background-image: url(img/ollie.jpg);
    background-size: cover;
    width: 100%;
    height: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

article#about2 {
    background-image: url(img/cor.jpg);
    background-size: cover;
    width: 100%;
    height: 70vw;
}

@media screen and (min-width: 800px) {
    article#about1 {
        height: 60vw;
        align-items: flex-start;
        padding: 0;
        font-size: 1rem;
    } 
    
    article#about2 {
        height: 60vw;
        align-items: flex-end;
        padding: 0;
        font-size: 1rem;
    }
}

div#abt1, div#abt2 {
    padding: 2%;
    width: 50%;
}

div#abt3 {
    padding: 2%;
    width: 100%;
    background-color: rgb(0,0,0,0.4);
    position: relative;
    top: 40%;
}

@media screen and (min-width: 450px) {
    div#abt3 {
        background: none;
        position: inherit;
    }
}

@media screen and (min-width: 1080px) {
    div.abt {
        opacity: 20%;
        font-size: 1.5rem;
    }
    div.abt:hover {
        opacity: 100%;
        transition: 1s;
    }
    div#abt1:hover, div#abt2:hover {
        background-color: rgb(0,0,0,0.3);
    }
}

img#murph {
    position: relative;
    width: 100%;
}

div#murph {
    width: 100%
}

img#corey {
    width: 100%;
}

.collapsible {
  background-color: beige;
  color: #444;
  cursor: pointer;
  padding: 5%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: beige;
}

.content {
    color: black;
    padding: 5%;
    display: none;
    overflow: hidden;
    background-color: beige;
}

.blogs .content {
    display: none;
}

.collapsible:after {
  content: '\02795';
  float: right;
}

.active:after {
  content: "\2796";
}

section.blogs {
    background-color: beige;
}

div.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    color: black;
}

img#blog {
    width: 100%;
    padding-top: 2%;
    position: relative;
}

 @media screen and (min-width: 1080px) {
     div.content {
         width: 80%;
        }
        img#blog {
            width: 80%;
        }
    }

section#workstudy {
    width: 100%;
    display: block;
    background-image: url(img/history.jpg);
    background-size: cover;
}

form#mess, p#alt {
    padding-top: 5%;
}

div#thanks {
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 2%;
}